.logo{
  text-decoration: none;
  position: absolute;
  top:0;
  left: 5dvw;
  transform: translateY(-50%);
  background: white;
  color: var(--primary-color);
  font-size: 2rem;
  font-family: 'Impact';
  border-radius: 1rem;
  padding-inline:1rem;
}

#blur-one.form-blur{
  top: 0%;
  left: 50%;
  transform: translateX(-50%);
}

#blur-two.form-blur{
  bottom: 10%;
  right: 0%;
}

.Form {
  color: white;
  text-align: center;
  place-items: center;
}

.form {
  font-family: "Lilita One";
  height: 75%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: column;
  gap: 1.5rem;
}

.form h1 {
  font-size: 4.5rem;
  font-weight: bold;
}

.form .input-holder {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  flex-direction: column;
  gap: 1.5rem;
}

.form input {
  width: 60vmin;
  font-family: 'Lilita One';
  font-size: 1rem;
  background-color: white;
  color: var(--primary-color);
  text-align: center;
  padding: 0.75rem;
  border: 4px solid #c1ff72;
  border-radius: 2rem;
}

.form .button-holder {
  width: 60vmin;
  display: flex;
  justify-content: space-between;
}

.form button{
  background-color: grey;
  color: white;
  padding: 0.75rem 2rem;
  font-size:large;
  border:none;
}

.form button:nth-child(2n){
  background-color: lime;
  color: white;
}
