.logo{
  text-decoration: none;
  position: absolute;
  top:0;
  left: 5dvw;
  transform: translateY(-50%);
  background: white;
  color: var(--primary-color);
  font-size: 2rem;
  font-family: 'Impact';
  border-radius: 1rem;
  padding-inline:1rem;
}

.Form {
  position:absolute;
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
  height: 85dvh;
  width: 90dvw;
  background-color: var(--primary-color);
  color: white;
  border-radius: 1.5rem;
  text-align: center;
  display: flex;
  place-items: center;
}

.login-form {
  font-family: "Lilita One";
  height: 75%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: column;
  gap: 1.5rem;
}

.login-form h1 {
  font-size: 4.5rem;
  font-weight: bold;
}

.login-form .input-holder {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  flex-direction: column;
  gap: 1.5rem;
}

.login-form input {
  width: 60vmin;
  font-family: 'Lilita One';
  background-color: white;
  color: var(--primary-color);
  text-align: center;
  padding: 0.75rem;
  border-radius: 2rem;
  font-weight: bold;
}

.login-form .button-holder {
  width: 60vmin;
  display: flex;
  justify-content: space-between;
}

.login-form button{
  background-color: grey;
  color: white;
  padding: 0.75rem 2rem;
  font-size:large;
  border:none;
}

.login-form button:nth-child(2n){
  background-color: lime;
  color: white;
}
