.background{
  position: absolute;
  z-index: 0;
  background: white;
  height: 100dvh;
  width: 100dvw;
}

#blur-one, #blur-two{
  position: absolute;
  background: radial-gradient(circle, #c1ff72, #c1ff72, transparent);
  height: 45rem;
  aspect-ratio: 1/1;
  overflow: hidden;
}

#blur-one{
  top: 0dvh;
  left: 0dvh;
}

#blur-two{
  bottom: 0dvh;
  right: 0dvh;
}

.blue-background{
  position:absolute;
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
  height: 85dvh;
  width: 90dvw;
  background-color: var(--primary-color);
  display: flex;
  border-radius: 1.5rem;
}

.LandingPage{
  align-items: center;
  justify-content: space-evenly;
  flex-direction: column;
  gap: 2.5rem;
  z-index: 2;
}

.LandingPage h1{
  margin-block: 0;
  font-size: 7rem;
  font-family: 'Impact';
  letter-spacing: 0.25rem;
  color: white;
}

.LandingPage .button-holder{
  letter-spacing: 0.1rem;
  display: flex;
  flex-direction: column;
  gap: 2.5vh;
}

.LandingPage .btn{
  transition: background-color 250ms linear;
}

.LandingPage .btn:hover{
  background-color: #c1ff72;
}
