.NavBar {
  height: 3.5rem;
  background-color: #4849e8;
  color: white;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-inline: 2.5rem;
}

.nav-logo {
  user-select: none;
  color: white;
  text-decoration: none;
  font-family: "Impact";
  font-size: 1.5rem;
  letter-spacing: 1px;
}

#nav-menu{
  position: absolute;
  top: 3.75rem;
  right: .25rem;
  padding: 1rem;
  background-color: var(--primary-color);
  border-radius: 1.5rem;
  font-family: 'Lilita One';
  text-align: center;
}

.NavBar #logout {
  font-size: 1rem;
  padding: 0.5rem 1.25rem;
  border: none;
}
