.NavBar{
  height: 3.5rem;
  background-color: #4849e8;
  color: white;
  display: flex;
  align-items: center;
  padding-inline: 2.5rem;
}

.nav-logo{
  text-decoration: none;
  font-family: 'Impact';
  font-size: 1.5rem;
  letter-spacing: 1px;
}
