.NavBar {
  height: 3.5rem;
  background-color: #4849e8;
  color: white;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-inline: 2.5rem;
}

.nav-logo {
  text-decoration: none;
  font-family: "Impact";
  font-size: 1.5rem;
  letter-spacing: 1px;
}

.NavBar #logout {
  font-size: 1rem;
  padding: 0.5rem 1.25rem;
  border: none;
}
