.NavBar {
  height: 3.5rem;
  background-color: #4849e8;
  color: white;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-inline: 2.5rem;
}

.nav-logo {
  user-select: none;
  color: white;
  text-decoration: none;
  font-family: "Impact";
  font-size: 1.5rem;
  letter-spacing: 1px;
}

#nav-menu{
  position: absolute;
  top: 3.75rem;
  right: .25rem;
  padding: 1rem;
  height: 15vmin;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  width: 18vmin;
  background-color: var(--primary-color);
  border-radius: 2vmin;
  font-family: 'Lilita One';
  font-size: 2.5vmin;
  text-align: center;
  z-index: 2;
}

.NavBar #logout {
  height: 5vmin;
  font-size: 2.5vmin;
  padding: 0.5vmin 1.25vmin;
  border: none;
}
