.table-container {
  width: 100%;
  max-height: 60dvh;
  font-family: "Lilita One";
  overflow-y: scroll; /* Hides the vertical scrollbar */
  scrollbar-width: none;  /* Firefox */
  border-top: 2.5px solid black;
  border-bottom: 2.5px solid black;
}

.dynamic-table {
  width: 100%;
  border-collapse: collapse;
}

.dynamic-table th,
.dynamic-table td {
  border: 2.5px solid black;
  border-top: none;
  padding: 0.5rem;
  text-align: center;
}

.dynamic-table tr:last-child td{
  border-bottom: none;
}

.dynamic-table th {
  background-color: var(--primary-color);
  color: white;
}

.dynamic-table td.sno{
  width: 2.5rem;
}

.dynamic-table td.usn{
  max-width: 8rem;
}

.dynamic-table td.status{
  width: 5rem;
}
