:root {
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #ffffff;
  --primary-color: #4849e8;
}

@font-face {
  font-family: 'Impact';
  src: url('./fonts/impact.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

body {
  margin: 0;
  min-width: 100%;
  min-height: 100vh;
}

h1{
  margin-block: 0;
}

