:root {
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #ffffff;
  --primary-color: #4849e8;
}

@font-face {
  font-family: 'Impact';
  src: url('./fonts/impact.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

body {
  margin: 0;
  min-width: 100%;
  min-height: 100vh;
}

h1{
  margin-block: 0;
}

button, .btn{
  text-decoration: none;
  display: inline-block;
  background-color: white;
  padding: 0.75rem 2.5rem;
  border-radius: 2.5rem;
  font-family: "Lilita One";
  font-size: 1.5rem;
  font-weight: bold;
  text-align: center;
  color: var(--primary-color);
  cursor: pointer;
}
