.AttendancePage{
  height: calc(100dvh - 3.5rem);
  color: black;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  flex-wrap: wrap;
}

.scanner-holder{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.scanner-holder h1{
  font-family: "Lilita One";
  font-size: 2.5rem;
}

.scanner-holder div:last-child{
  width: fit-content;
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.scanner-holder button, .pdf-btn{
  background-color: var(--primary-color);
  color: white;
  padding: 0.75rem 2rem;
  font-size: large;
  border: none;
}

.scanner-holder .qr-generator{
  height: 250px;
  aspect-ratio: 1/1;
  background-color: lightblue;
  border: 3.5px solid black;
  margin: 1.5rem;
}

.scanner-holder button:nth-child(2n) {
  background-color: #8e8e8e;
  color: white;
}

.student-timer{
  width: 50%;
  display: flex;
  flex-direction: column;
}

.timer{
  line-height: 1;
  margin-bottom: 1.5rem;
  font-family: "Lilita One";
  font-size: 4rem;
  font-weight: bold;
  text-align: center;
}

.pdf-btn{
  margin-top: 1.5rem;
  width: 50%;
  align-self: center;
}

.pdf-btn:disabled {
  background-color: #ccc;
  cursor: not-allowed;
  opacity: 0.7;
}
