.TeacherDash{
  color: var(--primary-color);
  font-family: "Lilita One";
}

.subject{
  max-width: 35rem;
  padding: 1rem;
  margin: 1rem;
  background-color: #7ed957;
  border-radius: 1.5rem;
}

.subject-title{
  margin-block: 0.25rem;
  margin-left: 1.5rem;
  font-size: 5vmin;
  text-align: center;
}

.section-grid{
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

.attendance-btn{
  background-color: var(--primary-color);
  color: white;
  height: 7vmin;
  width: 20vmin;
  padding: 1vmin;
  font-size: 2.5vmin;
}
